/* global settings */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

 body {
    width: 960px;
    padding: 0;
    margin: 0 auto;
    font-family: "Helvetica", "Arial", serif;

}

p {
    padding: 0;
    margin: 0;
}

@font-face{
    font-family: "Digital";
    src: url("../fonts/digital_7_mono.ttf");
}
/* helpers */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}


/* calculator */


#calculator {
    width: 640px;
    margin: 100px auto;
    padding: 30px 20px 20px 20px;
    background-color: #CCCCCC;
    border-radius: 10px;
    border: 4px solid #B9B3B3;
}

/* top section of the calc */

.display{
    padding: 5px 10px 0 0;
    border-radius: 5px;
    width: 583px;
    margin: 0 auto 30px auto;
    min-height: 60px;
    text-align: right;
    background-color: #FAFAFA;
    font-size: 4em;
    font-family: "Digital";
    background-color: #3A3A3A;
    color: #FF6432;
    overflow: hidden;
}


/* left section of the calc */
#left {
    width: 360px;
    text-align: center;
    float: left;
    cursor: pointer;
    margin-bottom: 50px;
}


.buttonNum {
    width: 100px;
    padding: 10px;
    float: left;
    border-radius: 18px;
    background-color: darkgray;
    box-shadow: 0px 6px 4px -4px #000;
    margin: 10px;
}
#buttonZero, #decimal {
    padding: 10px;
    float: left;
    border-radius: 18px;
    background-color: darkgray;
    box-shadow: 0px 6px 4px -4px #000;
    margin: 10px;
}

#buttonZero {
    width: 220px;
}
#decimal {
    width: 100px;
}

/* right section of the calc */

#right {
    width: 200px;
    text-align: center;
    float: right;
    cursor: pointer;
}

.buttonOp {
    width: 80px;
    padding: 25px;
    float: left;
    border-radius: 18px;
    background-color: darkgray;
    box-shadow: 0px 6px 4px -4px #000;
    margin: 10px;
}

.buttonEqual, #CLR {
    width: 180px;
    padding: 10px;
    padding-bottom: 11px;
    float: left;
    border-radius: 18px;
    background-color: darkgray;
    box-shadow: 0px 6px 4px -4px #000;
    margin: 10px;
}

/*
#CLR {
    margin-bottom: 25px;
}*/


